/*selector universal*/
/* *{
    border: 1px solid green;
    padding: 10px;
    margin: 10px;
}*/

/* reset css */
h1,h2,h3,h4,h5,h6,figure,p{
    margin:0;
    padding: 0;
}
.container {
    width: 920px;
    margin: 0 auto;
    
    /* margin: 0; aplica a todos */
    /* margin 0 0; el primero aplica top-bottom y el segundo right-left*/
    /*margin 0 0 0; top right-left bottom*/
    /* margin 0 0 0 0;top right bottom left */
    /* margin-top,  margin-right, margin bottom, margin left*/
    
}

#encabezado{
    height:120px;
    display:flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;

}

#encabezado figure{
    margin: 0px;
    
}

#titulos *{
    margin: 0px;
}

#encabezado h1{font-size: 1.2em; text-decoration: underline;}
#encabezado h2{font-size: 1em;}
#encabezado h3{font-size: 0.9em;}
#encabezado h4{font-size: 0.8em;}

#contenido{
    
    }

/* NOTA IMPORTANTE INICIO*/

#nota_importante{
    height:360px;
    background-color: #6bc6a3;
    margin: 20px 0;
    /* box-shadow: horizontal vertical blur color*/
    box-shadow: 0 0 15px darkgray;
}

#nota_importante img{
    border: 10px solid white;
    /*nombre-propiedad: valor valor valor;*/
    
}


/*NOTA IMPORTANTE FIN*/

/*NOTA SECUNDARIA INICIO*/
#notas_secundarias{
    min-height:300px;
    width: 700px;
    display: inline-block;
    float:left;
    background-color: white;
}
/* 1 punto carpeta en la que estas con dos sales*/
#notas_secundarias article{
    display: flex;
    background-image: url('../images/separador.png');
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 40px;
    margin-bottom: 2opx;
}

.imagen-nota-secundaria {
    position: relative;
}

.sombra-imagen{
   box-shadow: 0px 0px 5px #bdbdbd;    
}

.imagen-nota-secundaria  span{
    position: absolute;
    top: 10px;
    left: -5px;
    padding: 5px 10px;
    background-color: lightgray;
}
.titulo-nota-secundaria{
    font-size: 1.7em;
    line-height: 0.9em;
    font-variant: small-caps;
}
.cuerpo-nota-secundaria{
    padding-left: 20px;
    padding-right: 10px;
}
.intro-nota-secundaria{
    text-align: justify;
    margin=10px 0 !important;
}

/* NOTA SECUNDARIA FIN*/
#publicidad{
    height:300px;
    width:220px;
    display: inline-block;
    float:right;
    background-color: white;

}

#publicidad img{
   
}

#pie{
    height: 150px;
    background-color: yellow;
    clear: both;
}


#menu {
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: lightgray;
}


#menu ul {
    padding: 0;
    
}


#menu li {
    list-style-type: none;
    padding: 0px;
    display: inline-block;
}


#menu li a{
    text-decoration: none;
    color:black;
    font: inherit;
}


#menu>ul>li{
    display: inline-block;
} 


#menu>ul>li>a{
    padding: 10px;
    background-color: lightgray;
}


#menu>ul>li>a:hover{
    background-color:darkgray;
    transition: 1s;
}


#menu li ul{
    display:none;/* oculta objetos*/
}

.boton {
    background:#AA3521;
    display: inline-block;
    padding: 3px;
    box-shadow: 0px 1px 3px darkgray;
}

.boton>div{
    padding: 1px 20px;
    border: 1px solid rgba(255,255,255,.7);
}

.boton p {
    color: white;
    font-variant: small-caps;
    font-size:  1.1em;
}
.flexible {
    display: flex;
}

section {
    display: flex;
    justify-content: space-between;
}
