/*selector universal*/
/* *{
    border: 1px solid green;
    padding: 10px;
    margin: 10px;
}*/

.container {
    width: 920px;
    margin: 0 auto;
    
    /* margin: 0; aplica a todos */
    /* margin 0 0; el primero aplica top-bottom y el segundo right-left*/
    /*margin 0 0 0; top right-left bottom*/
    /* margin 0 0 0 0;top right bottom left */
    /* margin-top,  margin-right, margin bottom, margin left*/
    
}

#encabezado{
    height:120px;
    display:flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;

}

#encabezado figure{
    margin:0px;
    
}

#titulos *{
    margin:0px;
}

#encabezado h1{font-size: 1.2em; text-decoration: underline;}
#encabezado h2{font-size: 1em;}
#encabezado h3{font-size: 0.9em;}
#encabezado h4{font-size: 0.8em;}

#contenido{
    
    }

/* NOTA IMPORTANTE INICIO*/

#nota_importante{
    height:360px;
    margin: 20px 0;
    /* box-shadow: horizontal vertical blur color*/
    box-shadow: 0 0 15px darkgray;
}

#nota_importante img{
    border: 10px solid white;
    /*nombre-propiedad: valor valor valor;*/
    
}


/*NOTA IMPORTANTE FIN*/

/*NOTA SECUNDARIA INICIO*/
#notas_secundarias{
    min-height:300px;
    width: 700px;
    display: inline-block;
    float:left;
    background-color: gray;
  
}

#notas_secundarias article{
    display: flex;
}

#notas_secundarias figure{
    margin: 0;
    position: relative;
}

#notas_secundarias figure span{
    position: absolute;
    top: 10px;
    left: -5px;
    padding: 5px 10px;
    background-color: lightgrey;
}
/* NOTA SECUNDARIA FIN*/
#publicidad{
    height:300px;
    width:220px;
    display: inline-block;
    float:right;
    background-color: orange;

}


#pie{
    height: 150px;
    background-color: yellow;
    clear:both;
}


#menu{
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: darkgray;
}


#menu ul{
    padding: 0;
    
}


#menu li{
    list-style-type: none;
    padding: 0px;
    display: inline-block;
}


#menu li a{
    text-decoration: none;
    color:black;
    font: inherit;
}


#menu>ul>li{
    display: inline-block;
} 


#menu>ul>li>a{
    padding: 10px;
    background-color:darkgrey;
}


#menu>ul>li>a:hover{
    
    background-color:lightgray;
    transition: 1s;
}


#menu li ul{
    display:none;/* oculta objetos*/
}


